<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<!-- Hlavička stránky -->
	<header class="header">
		<h1>Zemas Brod</h1>
	</header>	 
			
 	<!-- Menu -->
	<nav class="menu">
		<ul class="menu__list">
			<li class="menu__item"><a href="/" class="menu__link">O nás</a></li>
			<li class="menu__item"><a href="/prodejna" class="menu__link">Prodejna</a></li>
			<li class="menu__item"><a href="/puda" class="menu__link">Nákup půdy</a></li>
			<li class="menu__item"><a href="/kontakt" class="menu__link">Kontakt</a></li>
		</ul>
	</nav>

    <main class="main">

        {{ content | safe}}
        
    </main>

    <!-- Patička stránky -->
	<footer class="footer">

		<div class="firma">
			<p><strong>ZEMAS Brod</strong>, IČ: 012 34 567<br>
        	Hlavní ulice 123, 687 34 Uherský Brod</p>
		</div>

		<div class="vyrobeno">
			<p>&copy;2024, Olga Jurásková</p>
		</div>

	</footer>
	
</body>
</html>

